<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Создание ордера</title>
</head>
<body>
<h1>Создание заявки на обмен</h1>
<form action="/orders/create" method="post">
  <label for="sourceCurrency">Исходная валюта:</label>
  <select name="sourceCurrency" required>
    <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency}"></option>
  </select><br>

  <label for="sourceAmount">Сумма:</label>
  <input type="number" name="sourceAmount" required><br>

  <label for="targetCurrency">Целевая валюта:</label>
  <select name="targetCurrency" required>
    <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency}"></option>
  </select><br>

  <label for="targetAmount">Целевая сумма:</label>
  <input type="number" namef="targetAmount" required><br>

  <button type="submit">Создать заявку</button>
</form>
</body>
</html>
