<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Гистограмма грузов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            color: black;
        }
    </style>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                Главная страница
            </a>
            <div class="d-flex">
                <a th:href="@{/admin/users}" class="btn btn-outline-light" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Управление пользователями</a>
                <a th:href="@{/logout}" class="btn btn-outline-light">Выйти</a>
            </div>
        </div>
    </nav>
    <h1 class="text-center">Гистограмма количества грузов по дням</h1>
    <canvas id="histogramChart" width="400" height="200"></canvas>
</div>

<script>
    async function fetchHistogramData() {
        const response = await fetch('/histogram-data');
        const data = await response.json();
        return data;
    }

    async function createHistogram() {
        const data = await fetchHistogramData();
        const labels = data.map(item => new Date(item[0]).toLocaleDateString());
        const counts = data.map(item => item[1]);

        const ctx = document.getElementById('histogramChart').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Количество грузов',
                    data: counts,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    createHistogram();
</script>
</body>
</html>
