<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пополнение баланса</title>
</head>
<body>
<h1>Пополнить баланс</h1>
<form action="/balance/top-up" method="post">
    <label for="currency">Выберите валюту:</label>
    <select name="currency" id="currency" required>
        <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency}"></option>
    </select><br>

    <label for="currency">Сумма:</label>
    <input type="number" name="amount" required><br>

    <button type="submit">Пополнить</button>
</form>
</body>
</html>
